#container{
    max-width: 90%;
    margin:0 auto;
}

#header{
    width:100%x;
    height:30px;
    margin:0 auto;
}
#sidebar_right{
    width:40%;
    height:600px;
    margin-top:50px;
    margin-bottom:5px;
    float:right;
}

#content{
    float:left;
}
#realpainter{
    cursor: pointer;
}
#realpainter:active{
    cursor: crosshair;
}



#table{
    margin-top: 50px;
    width: 350px;
}
.row{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
.btn {
    width: 50px;
    height: 50px;
    background: gray;
    color: white;
    font-size: 18px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}
.undo{
    background-image: url('undo.png');
    background-size: contain; 
}
.redo{
    background-image: url('redo.png');
    background-size: contain; 
}
.sub{
    background-image: url('substract.png');
    background-size: contain; 
}
.add{
    background-image: url('add.png');
    background-size: contain; 
}
.clear{
    background-image: url('home.png');
    background-size: contain; 
}
.eraser{
    background-image: url('eraser.png');
    background-size: contain; 
}
.download{
    background-image: url('download.png');
    background-size: contain; 
}
.upload{
    background-image: url('upload.png');
    background-size: contain; 
}
.rainbow{
    background-image: url('rainbow.png');
    background-size: contain; 
}
.pencil{
    background-image: url('pencil.png');
    background-size: contain; 
}
.rect{
    background-image: url('rect.png');
    background-size: contain; 
}
.fillRect{
    background-image: url('fillRect.png');
    background-size: contain; 
}
.tri{
    background-image: url('tri.png');
    background-size: contain; 
}
.fillTri{
    background-image: url('fillTri.png');
    background-size: contain; 
}
.circle{
    background-image: url('circle.png');
    background-size: contain; 
}
.fillCircle{
    background-image: url('fillCircle.png');
    background-size: contain; 
}
.type{
    background-image: url('type.png');
    background-size: contain; 
}
.btn2{
    background: orange;
    color: white;
}
.btn3{
    background-image: url('redo.png');
    background-size: contain; 
}
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
}

